/* Reset de estilos para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais para o corpo do site */
body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para cabeçalho (header) */
header {
    background-color: rgba(56, 52, 52, 0.967);
    padding: 10px;
    text-align: center;
    flex-direction: column;
    bottom: 0;
    width: 100%;
}

/* Estilos para o conteúdo do site */
.content {
    flex: 1;
}

/* Estilos para títulos (h1) */
h1 {
    color: white;
    padding: 20px;
    background-color: rgb(248, 242, 242);
    margin: 0;
}

/* Estilos para o container de informações */
.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

/* Estilos para grupos de informações */
.info-group {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #ffffff;
}

/* Estilos para as caixas de informações */
.info-box {
    width: 200px;
    padding: 20px;
    border: 1px solid #fdfdfd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(250, 249, 249, 0.778);
}

/* Estilos para títulos de informações */
.info-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para o conteúdo das informações */
.info-content {
    font-size: 14px;
    color: #ffffff;
}

/* Estilos para o formulário de contato */
.contact-form {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px #ccc;
    color: #ffffff;
}

/* Estilos para grupos de formulários */
.form-group {
    margin-bottom: 20px;
    color: #ffffff;
}

/* Estilos para rótulos de formulários */
.form-label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Estilos para campos de entrada de texto */
.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para a área de texto do formulário */
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para o botão de envio do formulário */
.form-submit {
    background-color: hsl(123, 77%, 36%);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
     position: fixed;
    bottom: 0;
}

/* Estilos para o container do rodapé */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para as seções do rodapé */
.footer-section {
    flex: 1;
    max-width: 200px;
    margin-bottom: 20px;
}

/* Estilos para os links no rodapé */
.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* Estilos para os títulos das seções do rodapé */
.footer-section h4 {
    font-size: 18px;
}

/* Estilos para os ícones de míd
